<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-facebook-push-campaign"
        version="0.0.3"
        xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FacebookPushCampaign</name>
    <js-module name="FacebookPushCampaign" src="www/FacebookPushCampaign.js">
        <clobbers target="cordova.plugins.FacebookPushCampaign"/>
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FacebookPushCampaign">
                <param name="ios-package" value="FacebookPushCampaign"/>
            </feature>
        </config-file>

        <source-file src="src/ios/FacebookPushCampaign.m"/>
        <header-file src="src/ios/FacebookPushCampaign.h"/>

        <!-- Depend on this fork until the https://github.com/jeduan/cordova-plugin-facebook4 upgrades to SDK v4.13 -->
        <dependency id="cordova-plugin-facebook4" url="https://github.com/jackpocket/cordova-plugin-facebook4.git" commit="d395d8fef2afdf6ea6ab36449488ff483a9043df" />

        <!-- Facebook framework -->
        <framework src="ImageIO.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="src/ios/FBNotifications.framework" custom="true" />
    </platform>
</plugin>
