<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-facebook-push-campaign"
        version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>FacebookPushCampaign</name>
    <js-module name="FacebookPushCampaign" src="www/FacebookPushCampaign.js">
        <clobbers target="cordova.plugins.FacebookPushCampaign"/>
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FacebookPushCampaign">
                <param name="ios-package" value="FacebookPushCampaign"/>
            </feature>
        </config-file>
        <source-file src="src/ios/FacebookPushCampaign.m"/>
        <header-file src="src/ios/FacebookPushCampaign.h"/>
    </platform>
</plugin>
